
h1{
    text-align: center;
}

div{

    justify-content: center;
}

.toilet{
    height: 100vh;
}
.unko{
    height: 100vh;
    display: inline-block;
    transition: transform 0.2s;
  }

@keyframes shake {
    0% { transform: translate(2px, 2px); }
    25% { transform: translate(-2px, -2px); }
    50% { transform: translate(2px, -2px); }
    75% { transform: translate(-2px, 2px); }
    100% { transform: translate(0, 0); }
}

.shaking {
    animation: shake 0.2s infinite;
}